.extra-weather-info-container {
  display: flex;
  gap: 16px;
}
.extra-weather-info-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
}
.info-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  color: #e8f1f2;
}
.info-amount {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: #e8f1f2;
}

@media (max-width: 570px) {
  .extra-weather-info-container {
    gap: 12px;
  }
  .extra-weather-info-container div {
    min-width: 75px;
  }
  .info-title {
    font-size: 18px;
    line-height: 24px;
  }
  .info-amount {
    font-size: 18px;
    line-height: 24px;
  }
}
