.weather-card-container {
  background: #27737d;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 49px;
  position: relative;
  min-height: 80%;
}

@keyframes bop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.temp-scale {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 600;
  color: #ffffff;
  background: none;
  border: 3px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: bop 7s ease-in-out 5s infinite alternate;
}

.temp-scale:focus {
  outline: none;
}

@media (max-width: 770px) {
  .weather-card-container {
    padding: 25px;
    min-height: 550px;
  }
  .temp-scale {
    top: 20px;
    right: 20px;
  }
}
@media (max-width: 570px) {
  .weather-card-container {
    padding: 25px;
    min-height: 400px;
  }
  .temp-scale {
    width: 22px;
    height: 22px;
    font-weight: 500;
    border: 2px solid #ffffff;
  }
}
