.search-bar-container {
  display: flex;
  flex-direction: column;
}

.search-bar-label {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 6px 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar-input-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar-input {
  background: #ffffff;
  border-radius: 10px;
  width: 100%;
  font-size: 22px;
  line-height: 32px;
  padding: 10px 12px;
  box-sizing: border-box;
}

.search-bar-button,
.search-bar-my-city-button,
.search-bar-clear-button {
  border-radius: 10px;
  color: #ffffff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 18px;
  line-height: 27px;
  transition: all 0.3s ease;
}

.search-bar-my-city-button,
.search-bar-clear-button{
    font-size: 15px;
  line-height: 24px;
}
.search-bar-button {
  background: #046b3b;
  position: absolute;
  width: 80px;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
}

.search-bar-my-city-button {
  background: #046b3b;
}

.search-bar-clear-button {
  background-color: #d9534f;
  font-size: 14px;
}

.search-bar-button:hover,
.search-bar-my-city-button:hover {
  background: #035a27;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-bar-clear-button:hover {
  background-color: #c9302c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-bar-my-city-button:active {
  background: #024d1b;
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-bar-clear-button:active {
  background-color: #a94442;
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-bar-button:active {
  background: #024d1b;
  transform: translateY(-40%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
