.home-page {
  display: flex;
  justify-content: center;
  padding: 50px;
  width: 100%;
  min-height: 600px;
}

.home-page-left-side {
  min-width: 50%;
  display: flex;
  flex-direction: column;
}

.home-page-right-side {
  min-width: 50%;
  background: #dde4e6 0% 0% no-repeat padding-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-logo {
  width: 98px;
  height: 43px;
}

@media (max-width: 770px) {
  .home-page {
    flex-direction: column;
    padding: 0;
align-items: center;  }
  .home-page-left-side {
    max-width: 80%;
    margin-top: 25px;
    width: 80%;
    
  }
  .home-page-right-side {
    min-height: 600px;
    min-width: 600px;
  }
}

@media (max-width: 570px) {
  .home-page {
    padding: 25px;
    min-width: 300px;
  }
}


